
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>DressDetails</title>
</head>
<body>
    <div> 
        <h1>Details of Dress@Model.drsName</h1>
        <hr/>
        <p>Dress ID: @Model.drsId</p>
        <p>Dress Name: @Model.drsName</p>
        <p>Dress Design: @Model.drsDesign</p>
        <p>Dress Price: @Model.drsPrice</p>
    </div>
</body>
</html>
